service_account_key_path   = "/root/.ssh/cmf-sa.json"
bootstrap_project_id       = ""

create_project             = true
target_project_name        = "cmf-replatform-sb-demo"
target_project_owner_email = "xxxx"
parent_container_id        = "xxxx"

region                     = "eu01"
availability_zone          = "eu01-1"

ske_cluster_name           = "xxxx"
kubernetes_version_min     = "1.35.4"
node_pool_name             = "small"
node_pool_machine_type     = "g3i.4"
node_pool_minimum          = 1
node_pool_maximum          = 1
node_pool_volume_size      = 20

observability_enabled                 = true
create_observability_instance         = true
existing_observability_instance_id    = ""
observability_ready_wait_duration     = "300s"
observability_metrics_warmup_duration = "10s"
observability_instance_name           = "xxxx"
observability_plan_name               = "Observability-Starter-EU01"
enable_observability_alerts           = true
create_grafana_dashboard              = true

dns_enabled           = true
create_dns_zone       = true
dns_zone_name         = "xxxx"
dns_zone_display_name = "xxxx"
dns_contact_email     = ""

deploy_workload           = true
k8s_namespace             = "springboot"
springboot_image          = "yanivomc/spring-music:latest"
springboot_container_port = 8080
springboot_replicas       = 1

enable_postgres_flex        = false
postgres_flex_instance_name = "cmf-rpltf-postgres"
postgres_flex_version       = "17"
postgres_flex_backup_schedule = "0 2 * * *"
postgres_flex_replicas      = 1
postgres_flex_acl           = []
postgres_flex_target_app_acl_cidrs = ["203.0.113.10/32"]
postgres_flex_temp_migration_acl_cidrs = []
include_source_postgres_host_in_temp_acl = false
postgres_flex_cpu           = 2
postgres_flex_ram           = 4
postgres_flex_storage_class = "premium-perf6-stackit"
postgres_flex_storage_size  = 5
postgres_flex_app_username  = "springmusic"
postgres_flex_app_roles     = ["login"]
postgres_flex_target_database = "postgres"
enable_postgres_flex_exporter = true
postgres_flex_exporter_port    = 9187
enable_postgres_flex_metrics_scrape = true
postgres_flex_metrics_scrape_interval = "61s"
postgres_flex_metrics_scrape_timeout  = "10s"

deploy_postgres_migration_job = false
source_postgres_host          = ""
source_postgres_port          = 5432
source_postgres_database      = "springmusic"
source_postgres_username      = "springmusic"
source_postgres_password      = ""

enable_springboot_hpa     = false
springboot_hpa_min_replicas = 1
springboot_hpa_max_replicas = 3
springboot_hpa_target_cpu_utilization_percentage = 70
app_subdomain             = "springboot"

enable_load_generator                 = true
load_profile                           = "spiky"
load_generator_replicas               = 1
load_generator_min_requests_per_cycle = 2
load_generator_max_requests_per_cycle = 18
load_generator_min_pause_seconds      = 1
load_generator_max_pause_seconds      = 7

enable_springboot_metrics_scrape   = true
springboot_metrics_exporter_port   = 9090
springboot_metrics_scrape_interval = "61s"
springboot_metrics_scrape_timeout  = "10s"
